<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SportsBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>filter</display-name>
    <filter-name>filter</filter-name>
    <filter-class>com.psy.sportsboard.filter.filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignUpPageServlet</display-name>
    <servlet-name>ViewSignUpPageServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.user.web.ViewSignUpPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignUpPageServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignInPageServlet</display-name>
    <servlet-name>ViewSignInPageServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.user.web.ViewSignInPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignInPageServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDuplicateEmailServlet</display-name>
    <servlet-name>CheckDuplicateEmailServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.user.web.ajax.CheckDuplicateEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDuplicateEmailServlet</servlet-name>
    <url-pattern>/checkEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignUpServlet</display-name>
    <servlet-name>DoSignUpServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.user.web.DoSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignUpServlet</servlet-name>
    <url-pattern>/doSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignInServlet</display-name>
    <servlet-name>DoSignInServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.user.web.DoSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignInServlet</servlet-name>
    <url-pattern>/doSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewListPageServlet</display-name>
    <servlet-name>ViewListPageServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.sportsArticles.web.ViewListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListPageServlet</servlet-name>
    <url-pattern>/board/list</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>sessionfilter</display-name>
    <filter-name>sessionfilter</filter-name>
    <filter-class>com.psy.sportsboard.filter.sessionfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessionfilter</filter-name>
    <url-pattern>/board/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewWritePageServlet</display-name>
    <servlet-name>ViewWritePageServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.sportsArticles.web.ViewWritePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWritePageServlet</servlet-name>
    <url-pattern>/board/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteServlet</display-name>
    <servlet-name>DoWriteServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.sportsArticles.web.DoWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteServlet</servlet-name>
    <url-pattern>/board/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailPageServlet</display-name>
    <servlet-name>ViewDetailPageServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.sportsArticles.web.ViewDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailPageServlet</servlet-name>
    <url-pattern>/board/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodeleteServlet</display-name>
    <servlet-name>DodeleteServlet</servlet-name>
    <servlet-class>com.psy.sportsboard.sportsArticles.web.DodeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodeleteServlet</servlet-name>
    <url-pattern>/board/doDelete</url-pattern>
  </servlet-mapping>
</web-app>